{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> registro </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
<body>
<center>
    <!--    <ul class="nav nav-pills nav-justified" role="tablist">
      <li role="presentation" class="active"><a href="#">Home <span class="badge"></span></a></li>
          <li role="presentation"><a href="#">Editar Perfil</a></li>
          <li role="presentation"><a href="#">follows <span class="badge"></span></a></li>
      -->
      <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="#">Editar perfil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Followers</a>
  </li>
  </ul>
      <center>
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="{% static 'media/imagnex.jpg' %}" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      <!-- <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="{% static 'media/imagnex.jpg' %}">
              <div class="caption">
                <h3>DarkoTheColo</h3>
                <p>descripion del la persona dentro del perfil xD</p>
                <p><a href="#" class="btn btn-primary" role="button">Editar Imagen</a></p>
              </div>
            </div>
          </div>
          </div>
            </ul>
      </center>-->

</center>
