{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> registro </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
<body>
<center>
  <div class="card" style="width: 20rem; float: center;">
    <div class="card-header">
      Registrate
    </div>
    <div class="card-block">
      <form action='{% url 'crear_usuario' %}' method="POST">
        {% csrf_token %}
        <div class="form-group">
          correo electronico:
          <div class="form-group">
          <input class="form-control" type="text" name="email" placeholder="@outlock or @gmail">
          </div>
          <div class="fomr-control">
          Usuario:
          <input class="form-control" type="text" name="name" placeholder="usuario">
          </div>
          <div class="fomr-control">
          contraseña:
          <input class="form-control" type="password" name="password" placeholder="contraseña">
          </div>
          <input class="form-control" type="password" name="repeat_password" placeholder="confirmar contraseña">

          ¿tienes una cuenta? <a href="{% url 'inicio' %}">Entar</a><br>

        </div>
        <a href="https://www.apple.com/" i class="material-icons">explore </a>
        <a href="https://play.google.com/store/apps?hl=es" i class="material-icons">android </a>
  </div>
        <button class="btn btn-primary btn-block">registrate</button>
      </form>
    </div>
      </div>
</center>
  <link rel="stylesheet" type="text/css" href="{% static 'css/css_registro.css' %}">
    <div>
<center>
      <img src="{% static 'media/appstore.png' %}" id="IMG1"><br>
      <img src="{% static 'media/Hacha-Vikinga.png' %}" id="IMG2">
</center>
    <!--buwno por que no hablar sobre todo lomanterior de manera mas objetiva posible
    sin tener nada que ver con el mundo
    gggggggggggggg  tener en cuenta para despues        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    -->
</div>
  </body>
</html>
